.champion-card {

    display: flex;
    flex-direction: column;
}

.card {

    position: relative;

    height: 50vh;
    width: 9vw;
    border: 1px solid whitesmoke;

}

.card img {

    user-select: none;
    width: 100%; /* Makes the image as wide as the parent div */
    height: 100%; /* Makes the image as tall as the parent div */
    object-fit: cover; /* Ensures the image covers the div while maintaining aspect ratio */
    object-position: center; /* Centers the image inside the div */
}

.card-2{

    position: absolute;

    top: -1px;
    left: -1px;

    height: 100%;
    width: 100%;

    border: 1px solid whitesmoke;

    transition: 0.5s
}

.card-2:hover {

    filter: drop-shadow(0 0 1em whitesmoke);
}

@keyframes slide-up {

    0% {

        top: 0;
        opacity: 1;
    }

    100% {

        top: -100px;
        opacity: 0;
    }
}

.animation-up{

    animation: slide-up 0.5s ease forwards;
}

.card-text {


    font-family: "Bebas Neue";
    color: transparent;

    align-self: center;
    user-select: none;

    transition: 0.5s;
}

.card-text-show {

    color: whitesmoke;
}